[Unit]
Description=Check availabilities
After=network-online.target

[Service]
Type=oneshot
ExecStart=bash -c 'source $HOME/softwares/sante_fr/env/bin/activate && python $HOME/softwares/sante_fr/check.py'
